/**
 * WINDOWS
 */

.Window {
	position: absolute;
	top: 18%;
	left: 9%;
	right: 9%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 12000;
	padding: 20px;

  section {
    padding: 0;
  }
  
  h2 a {
    pointer-events: none;
    display: block;
    background: none;
    font-size: 20pt;
    font-weight: 700;
    color: @light;
    text-decoration: none;
  }
  
  h2 span {
    display: block;
    font-weight: normal;
    padding-top: 6px;
    margin-bottom: @unit * 4;
    color: @primary;
  }
  
  form {
    &:extend(main form all);
    
    background-color: lighten(@background, 70%);
  }
  
  [role=toolbar] {
    &:extend(main [role=toolbar] all);
    
    position: relative;
    float: right;
    
    button {
      &:last-of-type {
        display: block;
      }
    }
  }
  
  [role=group] {
    &:extend(main [role=group] all);
  }
  
  &.Alert {
    left: 18%;
    right: 18%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 22000;
  
  
    [role=toolbar] {
      height: 128px;
    }
    
    [role=toolbar] button {
      height: 100%;
    }
    
    p {
      width: 60%;
      padding: 20px;
      font-size: 14pt;
      color: @light;
      float: left;
    }
    
    div:first-of-type {
      width: 128px;
      height: 128px;
      float: left;
      transition: 1s ease-out border-radius, 1s ease-out background-color;
    }
    
    .error {
      background-color: @red;	
    }
    
    .warning {
      width: 0 !important;
      height: 0 !important;
      border-bottom: 128px solid @yellow;
      border-left: 64px solid transparent;
      border-right: 64px solid transparent;
    }
    
    .success {
      background-color: @green;
      border-radius: 128px;
    } 
    
    .loading {
      background-color: @light;
    
      margin: 0 auto;
      animation: sk-rotateplane 1.2s infinite ease-in-out, sk-planecolor 12s infinite ease-in-out;
    }
  }
}
