/**
 * VARIABLES, IMPORTS & MIXINS
 */

@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Poiret+One|Open+Sans:300,800&subset=latin,cyrillic);
@import "mixins.less";

/**
 * Admin settings.
 */
 
@unit: 5px;
@bg: #E6E6E6;
@prime: #D9E021;
@secondary: #C7B299;
@hover: @cyan;

/**
 * Prime colors.
 */

@dark: #000000;
@light: #FFFFFF;
@red: #F44336;
@pink: #E91E63;
@purple: #9C27B0;
@deep-purple: #673AB7;
@indigo: #3F51B5;
@blue: #2196F3;
@light-blue: #03A9F4;
@cyan: #00BCD4;
@teal: #009688;
@green: #4CAF50;
@light-green: #8BC34A;
@lime: #CDDC39;
@yellow: #FFEB3B;
@amber: #FFC107;
@orange: #FF9800;
@deep-orange: #FF5722;
@brown: #795548;
@grey: #9E9E9E;
@blue-grey: #607D8B;

/**
 * Secondary colors.
 */

@better: @green;
@worse: @red;
@equal: @grey;
@review: @deep-purple;
@feature: @lime;
@news: @deep-orange;
@video: @blue;
@tag: @grey;








/**
 * FONTS
 */
  
* {
	font-family: 'Open Sans', sans-serif;
	font-size: 12pt;
	line-height: 16pt;
}

header h2,
#login h2,
h3 {
	font-size: 30pt;
	font-weight: normal;
	font-style: italic;
	line-height: normal;
	font-family: 'Poiret One', sans-serif;
}

#xml textarea {
	font-family: "Courier New", Courier, monospace;
}

label {
	font-weight: normal;
}

::-webkit-input-placeholder {
   color: @prime;
   font-size: 12pt;
}

:-moz-placeholder {
   color: @prime; 
   font-size: 12pt;
}

::-moz-placeholder {
   color: @prime;
   font-size: 12pt;
}

:-ms-input-placeholder {  
   color: @prime;
   font-size: 12pt;
}

select.header,
header nav:not(.breadcrumb) a span,
h2 a,
nav li a,
button {
	font-size: 20pt;
	font-weight: bold;
}

.coverLayout h2 {
	font-size: 31pt;
}

a,
a:focus,
a:hover,
a:visited {
	text-decoration: none;
}








/**
 * HELPERS
 * Out and clip are used to hide accessibility text.
 */
  
.out {
	height: 1px;
	width: 1px;
	position: absolute;
	top: auto;
	left: -10000px;
	overflow: hidden;
}

.clip {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	position: absolute;
	overflow: hidden;
	opacity: 0;
}

img.svg {
	display: none;
}








/**
 * FOCUS & ACTIVE
 */

button.select:focus,
button.select:hover,
a.create:focus,
a.create:hover,
.file:focus,
.file:hover,
.file input:focus,
.file input:hover,
select.header:focus,
select.header:hover,
button:focus,
button:hover,
button:first-child:focus,
button:first-child:hover,
.Add > button:last-child:focus,
.Add > button:last-child:hover,
header a:focus,
header a:hover,
.breadcrumb a.active,
h2.active a,
h2 a:focus,
h2 a:hover,
nav a:focus,
nav a:hover {
	cursor: pointer;
	background-color: @secondary;
	outline: none;
}

.breadcrumb a:hover::after,
.breadcrumb a:focus::after,
main h2 a:hover::after,
main h2 a:focus::after,
header.compact h1 a:hover::after,
header.compact h1 a:focus::after {
	border-color: transparent transparent transparent @secondary;
}











/**
 * COLORS
 */

h3 {
	color: #666666;
}

a:focus {
	outline: 2px solid @prime;
}

header h2,
.select-subtitle,
a:focus,
a:hover,
a:visited,
.breadcrumb a span,
h2 a span {
	color: @prime;
}

.select-svg path,
svg path {
	fill: @prime;
}

.create svg path,
.search svg path {
	fill: #000000;
}

.track::before,
select.header,
footer,
footer a,
h2 a,
h2 a:focus,
h2 a:hover,
h2 a:visited,
header a,
header a:focus,
header a:hover,
header a:visited,
nav li a,
nav li a:focus,
nav li a:hover,
nav li a:visited {
	color: #FFF;
}

select.header,
body,
header a,
nav li a {
	background-color: #666666;
}

.breadcrumb {
	background-color: rgba(102, 102, 102, 0.7);
}

.breadcrumb a::after,
header.compact h1 a::after {
	border-color: transparent transparent transparent #666666;
}

.breadcrumb a.active::after,
main h2.active a::after {
	border-color: transparent transparent transparent @secondary;
}

button {
	background-color: #CCC;
	border: none;
}

.track::before,
button.select,
button.search,
a.create,
.file,
.Add > button:last-child,
button:first-of-type {
	background-color: @prime;
}








/**
 * SPACING
 */

header h2,
.coverLayout,
.Add button.add,
.Add button.remove,
.breadcrumb a, 
main h2 a,
footer {
	padding: @unit * 4;
}

div.settings p,
form > [role=group]:not(.Main),
.Cover,
section#login h2,
h3,
.Window h2 span,
.Add .file,
form input,
form select,
form textarea {
	margin-bottom: @unit * 4;
}








/**
 * LAYOUT
 */

[aria-hidden=true] {
	display: none !important;
}

*,
header h1,
main h2 {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

main {
	width: 100%;
}

main,
main h2,
section {
	float: left;
}

main h3 {
	float: left;
	clear: both;
	width: 100%;
	margin-top: @unit * 8;
}

header {
	float: left;
	width: 100%;
}

header [role=toolbar] {
	float: none;
	position: relative;
	text-align: right;
}

header [role=toolbar] button {
	float: left;
	margin: 0;
	top: auto;
	position: relative;
	width: auto;
	height: 84px;
	display: inline-block;
}

header [role=toolbar] button:last-of-type {
	display: block;
}

header nav {
	width: 50%;
	float: left;
}

main nav {
	width: 100%;
	float: left;
}

nav ul {
	width: 100%;
	float: left;
}

header svg,
nav svg {
	width: 64px;
	height: 64px;
	margin-right: 10px;
}

nav li {
	width: 100%;
	float: left;
	display: block;
}

header svg,
header a,
nav svg,
nav a {
	float: left;
}

header a {
	display: block;
	width: 100%;
	line-height: 64px;
	padding: @unit * 2;
}

nav li a {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 64px;
	padding: @unit * 2;
}

section {
	display: none;
	width: 100%;
	padding-top: 84px;
}

main h2 {
	margin-left: 84px;
}

main nav li a {
	padding-left: 84px;
	padding-top: 11px;
	line-height: normal;
}

main h2 a span,
.breadcrumb a span,
main nav li a span {
	display: block;
	font-weight: normal;
}

main nav li a span {
	padding-bottom: 6px;
}

.breadcrumb a span,
main h2 span {
	padding-top: 6px;
}

[role=toolbar] {
	position: fixed;
	right: 0;
	top: 0;
	height: 84px;
	float: left;
	z-index: 1000;
}

[role=toolbar] button {
	height: 84px;
	width: auto;
	float: left;
	padding: @unit * 4;
	min-width: 84px;
}

[role=toolbar] button:last-of-type {
	display: none;
}

[role=toolbar] [role=group] {
	float: right;
	width: auto;
	clear: none;
}

footer {
	clear: both;
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
}








/**
 * COMPACT
 */
  
.breadcrumb {
	position: fixed;
	top: 0;
	right: 0;
	left: 84px;
	min-height: 84px;
	width: auto;
}  

.breadcrumb a,
main h2 a {
	position: relative;
	display: block;
	height: 84px;
	padding-left: 62px;
	width: auto;
	line-height: 16pt;
	padding-bottom: @unit * 2;
}

.breadcrumb li {
	float: left;
	width: auto;
}

header.compact {
	position: fixed;
	top: 0;
	left: 0;
	width: 84px;
	height: 84px;
	overflow: visible;
	z-index: 100;
}

header.compact h1 a::after,
.breadcrumb a::after,
main h2 a::after {
	content: "";
	position: absolute;
	z-index: 100;
	right: -42px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 42px 0 42px 42px;
}








/**
 * FORMS
 */

form {
	float: left;
	clear: both;
	width: 100%;
	background-color: @bg;
	padding: @unit * 4;
}

button.search,
a.create,
.track button.remove {
	display: block;
	width: 58px;
	height: 58px;
	top: -79px;
	position: relative;
	float: right;
	margin-right: 1px;
	margin-bottom: -79px;
	padding: 17px;
}

button.search svg,
a.create svg {
	width: 24px;
	height: 24px;
}

form label,
form label span {
	display: block;
	margin-bottom: @unit * 2;
}

form label {
	clear: both;
}

form label > .twitter-typeahead {
	display: none !important;
}

[role=group],
form input {
	clear: both;
}

[role=group] {
	float: left;
	width: 100%;
	position: relative;
}

[role=group] label {
	margin-bottom: 0;
	clear: none;
	float: left;
	width: 25%;
	padding-right: 20px;
}

[role=group] label span {
	line-height: 24px;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 80%;
}

form input[type=email],
form input[type=text],
form input[type=password] {
	width: 100%;
	height: 60px;
	padding: @unit * 2;
}

form textarea {
	width: 100%;
	min-height: 60px;
}

form input[type=checkbox],
form input[type=radio] {
	width: 24px;
	height: 24px;
	margin-right: 6px;
}

select,
form input[type=date],
form input[type=time],
.two-cols input {
	height: 60px;
	min-width: 320px;
}

.hidden {
	padding: @unit * 2;
	margin-bottom: @unit * 4;
	opacity: 0.5;
	color: #666;
	line-height: 40px;
}

.hidden i {
	display: inline-block;
	min-width: 222px;
	margin-right: 10px;
}

.hidden b {
	background-color: #FFF;
	color: #999;
	line-height: 40px;
	display: inline-block;
	margin-top: -10px;
	margin-bottom: -10px;
	position: relative;
	margin-right: 20px;
	padding: 10px;
	min-width: 200px;
}

.two-cols {
	float: left;
	clear: none;
}

.two-cols select,
.two-cols input {
	margin-right: 20px;
}

#articleReviewRegion select {
	margin-right: 0;
}

#articleReviewRegion .two-cols:nth-child(2n + 1) {
	clear: both;
	margin-right: 20px;
}

#articleReviewRegion .two-cols:nth-child(2n) {
	min-width: 50%;
}








/**
 * WINDOWS
 */

body[aria-busy=true]::before {
	content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
	display: block;
	z-index: 10000;
}

.Window {
	position: absolute;
	top: 18%;
	left: 9%;
	right: 9%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 12000;
	padding: 20px;
}

.Window section {
	padding: 0;
}

.Window h2 a {
	pointer-events: none;
	display: block;
	background: none;
}

.Window h2 span {
	display: block;
	font-weight: normal;
	padding-top: 6px;
}

.Window div[role=toolbar] {
	position: relative;
	float: right;
}

.Window.Alert {
	left: 18%;
	right: 18%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 22000;
}

.Window.Alert div[role=toolbar] {
	height: 128px;
}

.Window.Alert div[role=toolbar] button {
	height: 100%;
}

.Window.Alert p {
	width: 60%;
	padding: 20px;
	font-size: 14pt;
	color: @light;
	float: left;
}

.Window.Alert div:first-of-type {
	width: 128px;
	height: 128px;
	float: left;
	transition: 1s ease-out border-radius, 1s ease-out background-color;
}

.Window.Alert .error {
	background-color: @red;	
}

.Window.Alert .warning {
	background-color: none;
	border-bottom: 128px solid @yellow;
    border-left: 64px solid transparent;
    border-right: 64px solid transparent;
}

.Window.Alert .success {
	background-color: @green;
	border-radius: 128px;
}


.Window.Alert .loading {
  background-color: @light;

  margin: 0 auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}








/**
 * Add  - Layout,  Box, Images
 */
  
.Add {
	float: left;
	width: 100%;
}

.select-subtitle {
	position: absolute;
	top: 47px;
	padding-left: @unit * 4;
} 

.Add button.add,
.Add button.remove {
	width: 100%;
	display: block;
	line-height: normal;
}

select.header {
	height: 84px;
	padding: @unit * 4;
	padding-left: 20px;
	padding-top: 0;
	padding-bottom: 24px;
	margin-bottom: 0;
	width: 100%;
	border: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;	
}

.select-svg {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 64px;
	height: 64px;
	pointer-events: none;
}

.imageLayout .select-svg {
	right: 286px;
}

.coverLayout h2 {
	margin: 0;
	float: none;
	line-height: normal;
}

.Add button.select {
	position: absolute;
	width: 100%;
	height: 100%;
}

button.select {
	background-size: cover;
}

.file::after,
button.select::after {
	content: "";
	position: absolute;
	width: 64px;
	height: 64px;
	margin-top: -32px;
	margin-left: -32px;
	left: 50%;
	top: 50%;
	border-radius: 64px;
	background-color: rgba(255, 255, 255, 0.5);
	background-image: url(../../assets/icons/iconmonstr/iconmonstr-plus-2-icon.svg);
	background-size: 32px 32px;
	background-position: center center;
	background-repeat: no-repeat;
	pointer-events: none;
}

button.add {
	background-size: 64px 64px;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 76px;
}

button.remove {
	background-image: url(../../assets/icons/iconmonstr/iconmonstr-x-mark-5-icon.svg);
	background-size: 64px 64px;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 76px;
}

.Box button.remove {
	position: absolute;
	top: 84px;
	right: 0;
	width: 200px;
	height: 280px;
}

.Box .platform {
	position: relative;
	width: 400px;
	float: left;
}

.file {
	position: relative;
	overflow: hidden;
	background-size: auto 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

#game .Box .file {
	width: 400px;
	height: 560px;
	background-size: 100%;
}

.Main .file:nth-child(1) {
	width: 128px;
	height: 128px;
}

#book .Main .file:nth-child(2),
#event .Main .file:nth-child(2),
#movie .Main .file:nth-child(2) {
	width: 346px;
	height: 512px;
}

#album .Main .file:nth-child(2) {
	width: 512px;
	height: 512px;
}

.file label {
	background-color: transparent;
}

[role=listbox] {
	float: left;
}

[role=option] {
	float: left;
	position: relative;
	width: 320px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40% 40%;
}

[role=option] p {
	padding: @unit * 2;
}

[role=option] input {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 32px;
	height: 32px;
}

#images .file {
	width: 320px;
	height: 180px;
}








/**
 * IMAGES
 */
 
#images [type=radio] {
	display: none;
} 

[role=dialog] #images li [type=radio] {
	display: inline;
}

[role=dialog] #images [role=option] [type=checkbox],
[role=dialog] #images [role=option] p {
	display: none;
}

#images li {
	margin-bottom: @unit * 4;
}

#images li:first-child {
	margin-bottom: 0;
}

#images li button.remove {
	position: absolute;
	right: 0;
	top: 0;
	width: 48px;
	height: 48px;
	background-size: 32px 32px;
	min-height: 48px;
}

[role=option] label {
	width: 100%;
	height: 180px;
	overflow: hidden;
}

[role=option] img {
	display: block;
	width: 100%;
	background-color: @bg;
}

[role=option] label span {
	top: 20px;
	left: 52px;
	right: 20px;
	bottom: 60px;
	display: block;
	display: -webkit-box;
	margin: 0 auto;
	line-height: 25px;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #FFF;
	position: absolute;
}

#search [role=option]::after {	
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: right;
	height: 40px;
	display: block;
	line-height: 40px;
	padding: 0 20px;
	color: #FFF;
	font-weight: bold;
	content: attr(data-object) "";
}

[role=option],
[role=option]::after {
	background-color: fade(@tag, 100%);
}

[role=option]:hover,
[role=option]:hover::after {
	background-color: fade(@hover, 80%) !important;
}

[role=option].review,
[role=option].review::after {
	background-color: fade(@review, 100%);
}

[role=option].aside,
[role=option].aside::after,
[role=option].news,
[role=option].news::after {
	background-color: fade(@news, 100%);
}

[role=option].feature,
[role=option].feature::after {
	background-color: fade(@feature, 100%);
}

.file input[type=file] {
	font-size: 200pt;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}

.Content {
	clear: both;
}

.Content .layout {
	position: relative;
	width: 100%;
	float: left;
	background: #FFF;
}

.Content .layout:first-of-type .left-col,
.Content .layout:first-of-type .right-col {
	background-color: rgba(217, 224, 33, 0.7);
}

.Content .layout:first-of-type .left-col::after,
.Content .layout:first-of-type .right-col::after {
	content: "";
	position: absolute;
	width: 128px;
	height: 128px;
	margin-top: -64px;
	margin-left: -64px;
	left: 50%;
	top: 50%;
	border-radius: 128px;
	background-color: rgba(255, 255, 255, 0.5);
	background-image: url(../../assets/icons/lorc/originals/svg/000000/transparent/wooden-sign.svg);
	background-size: 64px 64px;
	background-position: center center;
	background-repeat: no-repeat;
	pointer-events: none;
}

.Content .layout:first-of-type button.remove {
	display: none;
}

.Content .layout:first-of-type .left-col button,
.Content .layout:first-of-type .right-col button {
	pointer-events: none;
}

.Content .layout:first-of-type .left-col button::after,
.Content .layout:first-of-type .right-col button::after {
	background: none;
}

.Content .layout:first-of-type select {
	display: none;
}

.Content .layout:first-of-type select {
	display: none;
}

.Content .left-col {
	position: absolute;
	float: left;
	left: 0;
	width: 17%;
	top: 0;
	bottom: 0;
}

.Content .center-col {
	margin-left: 17%;
	float: left;
	width: 66%;
	min-height: 320px;
}

.Content .right-col {
	position: absolute;
	float: left;
	left: 83%;
	width: 17%;
	top: 0;
	bottom: 0;
}

.Content .fullscreen .center-col  {
	width: 100%;
	margin-left: 0;
}

.Content .fullscreen .left-col,
.Content .fullscreen .right-col {
	display: none;
}

.track {
	position: relative;
	float: left;
	width: 100%;
}

.track::before {
	content: attr(data-index) "";
	display: block;
	width: 58px;
	height: 58px;
	bottom: 21px;
	position: absolute;
	margin-left: 1px;
	font-weight: bold;
	line-height: 58px;
	text-align: center;
}

.track .two-cols:nth-child(1) input {
	padding-left: 68px;
}

.track .two-cols:nth-child(2) {
	padding-left: @unit * 4;
} 

.track label span {
	display: none;
}

.track .two-cols {
	width: 50%;
}

.track button.remove {
	width: 58px;
	min-height: 58px;
	background-size: 24px 24px;
}








/**
 * IMAGES & COVER
 */

.Main .file {
	display: inline-block;
	float: left;
	background-size: cover;
	margin-bottom: 20px;
	margin-right: 20px;
}

#article .Main .file:nth-child(1) {
	width: 960px;
	height: 321px;
}

#article .Main .file:nth-child(2) {
	width: 320px;
	height: 180px;
}

#article .Main .file:nth-child(3) {
	width: 320px;
	height: 320px;
}

#aside .Main .file,
.Cover {
	clear: both;
	position: relative;
	width: 960px;
	height: 540px;
}

#article .Cover .svg,
#article .Main .svg {
	position: absolute;
	padding: 20px;
	z-index: 99;
	height: 20%;
}

#article .Main .svg {
	height: 33.66%;
}

.Cover::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../../assets/helpers/shadow.png);
	background-repeat: repeat-x;
	background-position: bottom left;
	z-index: 99;
	pointer-events: none;
}

.Cover .h-preview,
.Cover .v-preview {
	position: absolute;
	background-image: url(../../assets/helpers/1-1.png);
	background-repeat: no-repeat;
	z-index: 100;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	pointer-events: none;
	opacity: 0.5;
	display: none;
}

.Cover:hover .h-preview,
.Cover:hover .v-preview {
	display: block;
}

.Cover .h-preview {
	background-size: 18.75% 100%;
	background-position: center center;
}

.Cover .v-preview {
	background-size: 100% 45%;
	background-position: center center;
}

#article .Main .file:nth-child(1)::after,
#article .Main .file:nth-child(2)::after,
.Cover .file::after,
.sublayout .file::after {
	background-image: url(../../assets/icons/iconmonstr/iconmonstr-picture-icon.svg);
}

.Cover .file {
	position: relative;
	width: 100%;
	height: 100%;
}

/**
 * SUBLAYOUTS
 */

.sublayout {
	float: none;
	position: relative;
	width: 100%;
	padding: 0;
}

.sublayout .img-proxy {
	display: block;
	float: none;
	width: 100%;
	position: relative;
	padding: 20px;
}

/**
 * Settings are for cases with video, tracklist etc.
 */

.sublayout .img-proxy > p,
.sublayout .img-proxy div.settings {
	display: block;
	position: absolute;
	float: none;
	height: auto;
	padding: 20px;
	width: 50%;
}

.sublayout .img-proxy div.settings select,
.sublayout .img-proxy div.settings input {
	min-width: 100%;
}

.sublayout .img-proxy .file {
	width: 100%;
	background-size: cover;
	margin: 0;
}

.sublayout .img-proxy img {
	width: 100%;
}

.sublayout .img-proxy .file input[type=file] {
	font-size: 1000pt;
} 

.sublayout .img-proxy .file label {
	position: absolute;
	top: 20px;
	left: 20px;
} 

/**
 * z0, z1
 */
 
.z0Sublayout .img-proxy {
	width: 60%;
	margin-left: 20%;
}

.z1Sublayout .img-proxy {
	width: 40%;
	margin-left: 20%;
}

.z0Sublayout .img-proxy div.settings {
	right: 0;
	top: 0;
	width: 40%;
	margin: 20px;
} 

.z1Sublayout .img-proxy div.settings {
	left: 100%;
	top: 0;
	width: 40%;
	margin: 20px;
} 

/**
 * a1, i3
 */

.a1Sublayout .img-proxy:nth-of-type(1),
.i3Sublayout .img-proxy:nth-of-type(1) {
	float: right;
	width: 40%;
	padding-right: 0;
	padding-top: 0;
	z-index: 1000;
}

.a1Sublayout .img-proxy:nth-of-type(1) div.settings,
.i3Sublayout .img-proxy:nth-of-type(1) div.settings {
	right: 0;
	top: 0;
	margin-top: 60%;
}

.a1Sublayout .img-proxy:nth-of-type(2),
.i3Sublayout .img-proxy:nth-of-type(2) {
	float: right;
	width: 40%;
	padding-right: 0;
	padding-bottom: 0;
	padding-top: 0;
	z-index: 999;
}

.a1Sublayout .img-proxy:nth-of-type(2) div.settings,
.i3Sublayout .img-proxy:nth-of-type(2) div.settings {
	left: -50%;
	bottom: 0;
}

.a1Sublayout .img-proxy:nth-of-type(3),
.i3Sublayout .img-proxy:nth-of-type(3) {
	width: 80%;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.a1Sublayout .img-proxy:nth-of-type(3) div.settings,
.i3Sublayout .img-proxy:nth-of-type(3) div.settings {
	left: 100%;
	bottom: 0;
	width: 25%;
}

/**
 * a2
 */

.a2Sublayout .img-proxy:nth-of-type(1) {
	width: 80%;
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.a2Sublayout .img-proxy:nth-of-type(1) div.settings {
	left: 100%;
	top: 0;
	width: 25%;
}

.a2Sublayout .img-proxy:nth-of-type(3) {
	float: right;
	width: 40%;
	padding-right: 0;
	padding-bottom: 0;
}

.a2Sublayout .img-proxy:nth-of-type(3) div.settings {
	left: -50%;
	bottom: 0;
}

.a2Sublayout .img-proxy:nth-of-type(2) {
	float: right;
	width: 40%;
	padding-right: 0;
}

.a2Sublayout .img-proxy:nth-of-type(2) div.settings {
	right: 0;
	top: auto;
	bottom: 0;
	margin-top: auto;
	margin-bottom: 60%;
}

/**
 * a3
 */

.a3Sublayout .img-proxy:nth-of-type(1) {
	width: 80%;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}

.a3Sublayout .img-proxy:nth-of-type(1) div.settings {
	left: 100%;
	top: 0;
	width: 25%;
}

.a3Sublayout .img-proxy:nth-of-type(3) {
	float: right;
	width: 30%;
	padding-right: 0;
}

.a3Sublayout .img-proxy:nth-of-type(3) div.settings {
	width: 100%;
	top: 100%;
	padding-left: 0;
}

.a3Sublayout .img-proxy:nth-of-type(2) {
	float: right;
	width: 50%;
	padding-right: 0;
}

.a3Sublayout .img-proxy:nth-of-type(2) div.settings {
	right: 0;
	bottom: 0;
	margin-bottom: 60%;
	width: 40%;
}

/**
 * b1
 */

.b2Sublayout .settings,
.b2Sublayout .img-proxy {
	width: 30%;
	margin: 0;
	padding: 0;
	float: left;
}

.b2Sublayout .img-proxy p {
	z-index: 1;
	width: 100%;
	padding: 20px;
	background: fade(@light, 70%);
	bottom: 0;
	position: absolute;
}

.b2Sublayout .img-proxy:nth-child(4n-2) p, 
.b2Sublayout .img-proxy:nth-child(4n-3) p {
	margin-left: -50%;
	text-align: right;
}

.b2Sublayout .img-proxy:nth-child(4n) p, 
.b2Sublayout .img-proxy:nth-child(4n-1) p {
	margin-left: 50%;
	text-align: left;
}

.b2Sublayout .settings:nth-child(4n-2), 
.b2Sublayout .settings:nth-child(4n-3),
.b2Sublayout .img-proxy:nth-child(4n-2), 
.b2Sublayout .img-proxy:nth-child(4n-3) {
	margin-left: 20%;
}

.b2Sublayout .settings:nth-child(4n), 
.b2Sublayout .settings:nth-child(4n-1),
.b2Sublayout .img-proxy:nth-child(4n), 
.b2Sublayout .img-proxy:nth-child(4n-1) {
	margin-right: 20%;
}

/**
 * f1, f3, i1, i2
 */

.i1Sublayout .img-proxy:nth-of-type(1),
.i2Sublayout .img-proxy:nth-of-type(1),
.i4Sublayout .img-proxy:nth-of-type(1),
.f1Sublayout .img-proxy:nth-of-type(1),
.f3Sublayout .img-proxy:nth-of-type(1) {
	padding: 0;
}

.f1Sublayout .img-proxy div.settings {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
	width: 20%;
}

.i2Sublayout .img-proxy:nth-of-type(1) {
	width: 80%;
	float: right;
}

.f3Sublayout .img-proxy:nth-of-type(1) .tracklist {
	position: absolute;
	width: 40%;
	background: @light;
	z-index: 1;
	margin-bottom: 0;
	padding: 0;
}

.f3Sublayout .img-proxy:nth-of-type(1) .tracklist.top {
	top: 0;
	bottom: auto;
}

.f3Sublayout .img-proxy:nth-of-type(1) .tracklist.bottom {
	top: auto;
	bottom: 0;
}

.f3Sublayout .img-proxy:nth-of-type(1) .tracklist.left {
	margin-left: 20%;
}

.f3Sublayout .img-proxy:nth-of-type(1) .tracklist.right {
	margin-left: 40%;
}

.f3Sublayout .img-proxy:nth-of-type(1) .tracklist select {
	min-height: 320px;
	padding: 20px;
	margin: 0;
	width: 100%;
	border: none;
	background-color: @light;
}

/**
 * INSIDE LAYOUT
 */
 
.insideLayout > .settings {
	position: absolute;
	top: 84px;
	right: 0;
	padding: 20px;
	width: 20%;
}

.insideLayout > .settings select {
	min-width: 100%;
	display: block;
}

.insideLayout .insideLayoutText {
	position: absolute;
	background: @light;
	z-index: 1;
	margin-bottom: 0;
	padding: 0;
}

.insideLayout.top .insideLayoutText {
	top: 84px;
	bottom: auto;
}

.insideLayout.bottom .insideLayoutText {
	top: auto;
	bottom: 0;
}

.insideLayout.center .insideLayoutText {
	width: 60%;
	margin-left: 20%;
}

.insideLayout.left .insideLayoutText {
	width: 40%;
	margin-left: 20%;
}

.insideLayout.right .insideLayoutText {
	width: 40%;
	margin-left: 40%;
}

.insideLayout[data-sublayout=i2] .insideLayoutText {
	margin: 0;
	bottom: 0;
	top: 84px;
	left: 0;
	right: auto;
	width: 60%;
	overflow: auto;
}

.insideLayout[data-sublayout=i3] > .settings {
	bottom: 0;
	left: 0;
	top: auto;
	right: auto;
	width: 15%;
}

.insideLayout[data-sublayout=i3] .insideLayoutText {
	bottom: 0;
	left: 15%;
	top: auto;
	right: auto;
	width: 30%;
	margin-left: 0;
}

.insideLayout[data-sublayout=i3].left .insideLayoutText,
.insideLayout[data-sublayout=i3].center .insideLayoutText {
	left: 15%;
}

.insideLayout[data-sublayout=i3].right .insideLayoutText {
	right: 20%;
	margin-right: 20px;
	left: auto;
}

.insideLayout[data-sublayout=i4].left .insideLayoutText {
	right: 20%;
}

.insideLayout[data-sublayout=i4].right .insideLayoutText {
	right: auto;
	margin-left: 20%;
}

.insideLayout.center .i4Sublayout .img-proxy {
	width: 60%;
	margin-left: 20%;
}

.insideLayout.left .i4Sublayout .img-proxy {
	width: 80%;
	float: left;
}

.insideLayout.right .i4Sublayout .img-proxy {
	width: 80%;
	float: right;
}








/**
 * TEXT EDITOR
 */

.textLayout {
	min-height: 320px;
}

.insideLayoutText > p,
.insideLayoutText > h3,
.textLayout > p,
.textLayout > h3,
.textLayout > blockquote,
.insideLayoutText > blockquote {
	padding: 20px;
	line-height: normal;
}

.insideLayoutText li,
.insideLayoutText li *,
.insideLayoutText p,
.insideLayoutText p *,
.textLayout p,
.textLayout p * {
	font-family: 'Open Sans', sans-serif;
	font-size: 14pt;
	font-style: normal;
	margin: 0;
}

.insideLayoutText strong,
.textLayout strong {
	font-weight: bold;
}

.insideLayoutText em,
.textLayout em {
	font-style: italic;
}

.insideLayoutText h3,
.textLayout h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 18pt;
	font-weight: bold;
	font-style: normal;
	margin: 0;
}

.insideLayoutText blockquote *,
.textLayout blockquote * {
	font-family: 'Poiret One', sans-serif;
	font-size: 24pt;
	margin: 0;
	line-height: normal;
}

.insideLayoutText ol {
	clear: both;
	list-style: decimal-leading-zero;
	padding: 0 20px;
	list-style-position: outside;
	padding-left: 57px;
}

.insideLayoutText ol:first-child {
	padding-top: 20px;
}

.insideLayoutText ol:last-child {
	padding-bottom: 20px;
}

.insideLayoutText li {
	list-style: decimal-leading-zero;
	padding-left: 20px;
}

.cke_focus {
	background-color: @light;
}

.cke_editable_inline:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(217, 224, 33, 0.7);
	cursor: pointer;
}

.cke_editable_inline::after {
	content: "";
	position: absolute;
	width: 128px;
	height: 128px;
	margin-top: -64px;
	margin-left: -64px;
	left: 50%;
	top: 50%;
	border-radius: 64px;
	background-color: #FFF;
	background-image: url(../../assets/icons/iconmonstr/iconmonstr-pencil-10-icon.svg);
	background-size: 64px 64px;
	background-position: center center;
	background-repeat: no-repeat;
}

.cke_editable_inline:hover::before {
	background-color: rgba(199, 178, 153, 0.7);
}

.cke_editable_inline.cke_focus::before,
.cke_editable_inline.cke_focus::after {
	display: none;
}








/**
 * SEARCH
 */

#search form {
	padding: 0;
}

#search form > label,
#search form > button {
	display: block;
	float: left;
	width: 15%;
	margin: 0;
	top: auto;
	clear: none;
}

/**
 * This is the search auto complete.
 */
 
#search .two-cols:first-of-type {
	margin-right: 20px;
}

#search form > label:first-child {
	width: 40%;
}

[role=dialog] #search form > label:first-child {
	width: 55%;
}

[role=dialog] #search form > label:nth-of-type(2) {
	display: none;
}

#search [role=toolbar] {
	display: none;
}

[role=alertdialog] [role=toolbar] button:last-of-type,
[role=dialog] [role=toolbar] button:last-of-type {
	display: block;
}

#publish [role=toolbar] {
	width: 100%;
}

#publish [role=toolbar] button {
	float: left;
}

#publish [role=dialog] [role=group] {
	float: right;
}

[role=dialog] #search [role=toolbar] {
	display: block;
}

#search form > button {
	float: right;
}

#search [role=toolbar] > label select,
#search form > label select {
	margin: 0;
	min-width: 100%;
	border: none;
}

#search .bootstrap-tagsinput {
	border: none;
	margin: 0;
	height: 84px;
}

#search .bootstrap-tagsinput input,
#search [role=toolbar] > label select,
#search form > label select,
#search form > button {
	height: 84px;
}

/**
 * This is some strange bug.
 * After you press a button with action,
 * a typeahead will be created.
 * Absolutely uknown why?
 */

#search [role=toolbar] > label > span,
#search form > label > span {
	display: none;
}

#search [role=toolbar] > label {
	float: left;
	min-width: 320px;
}

#search [role=listbox] {
	width: 100%;
}

[role=dialog] [role=listbox] {
	height: 360px;
	overflow-y: auto;
    overflow-x: hidden;
}

#search [role=option] {
	width: 20%;
}




/**
 * LOG
 */
 
#log form {
	padding: 0;
} 

#log [role=listbox] {
	width: 100%;
	display: table;
	float: none;
	border: none;
	background: none;
	border-collapse: collapse;
}

#log [role=listbox] thead {
	display: none;
}

#log [role=option] {
	display: table-row;
	float: none;
	border: none;
	background: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

#log [role=option][data-table=extras],
#log [role=option][data-object=tag] {
	background-color: @amber;
}

#log th,
#log td {
	height: 84px;
	padding: 0 @unit * 4;
	border: none;
}

#log th:last-of-type,
#log td:last-of-type {
	padding: 0;
	width: 84px;
}

#log th button,
#log td button {
	height: 84px;
    width: 84px;
	float: left;
}

#log .svg path {
	fill: rgba(102, 102, 102, 0.7);
}

#log svg {
	width: 32px;
	height: 32px;
}

#log td button[aria-pressed=true] {
	background-color: transparent;
}

#log td button[aria-pressed=true] svg {
	display: none;
}





/**
 * LOGIN
 */

header button.login,
header button.logout {
	padding-left: 104px;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

section#login {
	display: block;
	padding: 0;
	margin-left: 30%;
	margin-right: 30%;
	width: 40%;
	margin-top: 40px;
}

section#login img,
section#login svg {
	display: block;
}

section#login form {
	background: rgba(0, 0, 0, 0.5);
}

section#login h2 {
	color: #CCC;
}

section#login label {
	color: #FFF;
}

section#login [role=toolbar] {
	position: relative;
	float: none;
	width: 100%;
	clear: both;
	height: auto;
}

section#login [role=toolbar] button {
	width: 100%;
}

section#login [role=toolbar] button:last-of-type {
	display: block;
}

section#login h2 {
	margin-left: 0;
	width: 100%;
	margin-top: @unit * 8;
}








/**
 * COLORS
 */
  
#createTheme(@theme: ~"red", @red);
#createTheme(@theme: ~"pink", @pink);
#createTheme(@theme: ~"purple", @purple);
#createTheme(@theme: ~"deep-purple", @deep-purple);
#createTheme(@theme: ~"indigo", @indigo);
#createTheme(@theme: ~"blue", @blue);
#createTheme(@theme: ~"light-blue", @light-blue);
#createTheme(@theme: ~"cyan", @cyan);
#createTheme(@theme: ~"teal", @teal);
#createTheme(@theme: ~"green", @green);
#createTheme(@theme: ~"light-green", @light-green);
#createTheme(@theme: ~"lime", @lime);
#createTheme(@theme: ~"yellow", @yellow);
#createTheme(@theme: ~"amber", @amber);
#createTheme(@theme: ~"orange", @orange);
#createTheme(@theme: ~"deep-orange", @deep-orange);
#createTheme(@theme: ~"brown", @brown);
#createTheme(@theme: ~"grey", @grey);
#createTheme(@theme: ~"blue-grey", @blue-grey);

.lighten .Cover svg path,
.lighten .Main svg path {
	fill: #FFFFFF;
}

.darken .Cover svg path,
.darken .Main svg path {
	fill: #000000;
}




/**
 * REVIEW
 */

.Content em:nth-child(2n + 1),
.Content strong:nth-child(2n + 1) {
	color: @prime;
	font-weight: bold;
}

.Content em:nth-child(2n),
.Content strong:nth-child(2n) {
	color: @dark;
	font-weight: bold;
}




/**
 * MEDIA
 */

@media only screen and (max-width: 1024px) {
	section#login {
		margin-left: 10%;
		margin-right: 10%;
		width: 80%;
	}
	
	header nav {
		width: 100%;
	}
	
	.breadcrumb {
		display: none;
	}
	
	footer {
		margin-left: 10%;
    	margin-right: 10%;
    	width: 80%;
	}
}