<li class="{{:object}}" 
	role="option"
    data-id="{{:tag_id}}"
    data-table="{{:table}}"
	data-object="{{:object}}" 
    data-tag="{{:tag}}"{{if object == 'sticker'}}
    style="background-image: url(../assets/icons/{{:lib}}/{{:subtype}}/svg/000000/transparent/{{:tag}}.svg)"{{/if}}>{{if object == 'img'}}
    <label> <img src="../assets/articles/{{:tag}}/{{:tag}}" 
                 alt="{{:tag}}" />
        <input name="searchChoice" type="radio" />
    </label>{{else object == 'quote'}}
    <label> <span><strong>{{:en_name}}</strong> {{:tag}}</span>
        <input name="searchChoice" type="radio" />
    </label>{{else}}
    <label> <span>{{:en_name}}</span>
        <input name="searchChoice" type="radio" />
    </label>{{/if}}
</li>
